.filters {
	background-color: white;
	height: 70px;
	border: 1px solid #ddd;
	border-radius: 4px;
	position: relative;
	padding-right: calc(20% + 30px);
}


.filters button {
	font-size: 18px;
	background-color: #ff5a5f;
	color: #fff;
	border: none;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	position: absolute;
	top: calc(50% - 24px);
	right: 30px;
	cursor: pointer;
}

.filters button:hover {
	opacity: 0.9;
}

.filters > div {
	width: 25%;
	height: 100%;	
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 5%;
}

.filters > div h3 {
	font-weight: 600;
	font-size: 14px;
	line-height: 15px;
}

.filters > div h4 {
	font-weight: 400;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.locations {
	border-right: 1px #ddd solid;
}